@{
    ViewData["Title"] = "Home Page";
    var currentUserId = ViewData["UserId"].ToString();
}

@model IEnumerable<Movie> 

<div class="text-center">
    <h1 class="display-4">Movie List</h1>
    <a asp-controller="Home"
       asp-action="Upsert"
       class="btn btn-primary mx-2">
        <i class="bi bi-pencil-square">Create Movie</i>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Genre</th>
                <th>FilePath</th>
                <th>UserID</th>
                <th></th>
                <!-- Add more headers if needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td>@movie.Title</td>
                    <td>@movie.Genre</td>
                    <td>@movie.FilePath</td>
                    <td>@movie.UserID</td>
                    <th>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Home"
                               asp-action="ViewMovieDetail"
                               asp-route-id="@movie.Id"
                               class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square">View</i>
                            </a>
                            @if (!string.IsNullOrEmpty(currentUserId) && currentUserId.Equals(movie.UserID))
                            {
                                <a asp-controller="Home"
                                asp-action="Upsert"
                                asp-route-id="@movie.Id"
                                class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square">Edit</i>
                                </a>
                                <a asp-controller="Home"
                                asp-action="Delete"
                                asp-route-id="@movie.Id"
                                class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill">Delete</i>
                                </a>
                            }
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
